
/*-----------------------------BACKGROUND----------------------------------*/
html { 
	background: rgb(170, 161, 200);
}

body {
    max-width: 1300px;
	margin: auto;
}

/*-------------------------------HEADER-------------------------------------*/
header { 
    width: 100%;
}

header h1 {
    font-size: 70px;
    font-family: 'Playfair Display', serif;
    color: rgb(46, 41, 78);
    text-align: right;
    margin-right: 20px;
    text-shadow: 2px 2px 5px rgb(245, 230, 232);
}

#menu {
    background: rgba(242, 233, 228, 0.5);
	list-style-type: none;
	display: flex;
	padding: 25px 0px;
	width: 99%;
	margin-bottom: 20px;
    border-radius: 25px;
}

#menu li {
	margin: auto;
    font-family: 'Lato', sans-serif;
    color: rgb(1, 22, 56);
    font-size: 25px;
}

#menu ul {
	margin: auto;
}

#menu a {
	text-decoration: none;
}

#menu a:hover { 
	color: rgb(170, 161, 200); 
	background: rgb(245, 230, 232); 
}

/*-----------------------------------ASIDE----------------------------------*/
aside {
    width: 25%;
    font-family: 'Lato', sans-serif;
    color: rgb(1, 22, 56);
    background: rgb(245, 230, 232);
}

aside p {
    margin: 25px;
}

aside li {
    margin: 15px 5px;
}

aside img {
    max-width: 100%;
}

aside h2 {
    font-family: 'Playfair Display', serif;
    color: rgb(46, 41, 78);
    margin: 20px;
}

table {
    text-align: right;
    width: 85%;
    margin: 25px;
}

tr img {
    width: 25px;
}

td {
    padding: 5px;
}

tr:hover {
    background-color: rgb(213, 198, 224);
}

.kielet .tahdet {
    text-align: left;
}

.video {
    width: 325px;
    height: 180px;
}


/*----------------------------------MAIN---------------------------------------*/
main {
    background: rgb(213, 198, 224);
    width: 74%;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
}

section {
    border-radius: 25px;
    width: 350px;
    border: 5px solid rgb(245, 230, 232);
    padding: 10px;
    margin: 35px;
}

section h2 {
    font-family: 'Playfair Display', serif;
    color: rgb(46, 41, 78);
    text-align: center;
    font-size: 40px;
}

h3 {
    font-family: 'Lato', sans-serif;
    color: rgb(1, 22, 56);
    font-weight: bold;
}

article {
    border-radius: 25px;
    width: 250px;
    height: 250px;
    border: 5px solid rgb(245, 230, 232);
    background: rgb(245, 230, 232);
    margin: 30px;
    padding: 15px 15px 15px;
    position: relative;
    transition: 1s;
}

article:hover {
    width: 400px;
    height: 400px;
    background-color: rgb(170, 161, 200);
    font-size: 25px;
}

article p {
    font-family: 'Lato', sans-serif;
    color: rgb(1, 22, 56);
    margin-bottom: 20px;
}

article li {
    font-family: 'Lato', sans-serif;
    color: rgb(1, 22, 56);
}

/*----------------------------------FOOTER-------------------------------------*/
footer {
    width: 1247px;
	padding: 20px;
	background: rgb(25, 42, 81);
    font-family: 'Lato', sans-serif;
    color: rgb(213, 198, 224);
}

#page-container {
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
}